<div class="container">
 <div class="row" id="reservation" style="margin-top:40px;">

            <div class="col-lg-12 table-responsive">
                <table class="table" style="margin:0px;">
                    <tr>
                        <th class="no-border">영화 제목</th>
                        <th class="no-border">날짜 선택</th>
                        <th class="no-border">시간 선택</th>
                    </tr>
                </table>
            </div>

            <div class="col-xs-4 table-responsive">
                <table id="movie-title" class="table table-bordered table-hover">
                    <tr>
                        <td>영화0</td>
                    </tr>
                    <tr>
                        <td>영화1</td>
                    </tr>
                    <tr>
                        <td>영화2</td>
                    </tr>
                    <tr>
                        <td>영화3</td>
                    </tr>
                    <tr>
                        <td>영화4</td>
                    </tr>
                    <tr>
                        <td>영화5</td>
                    </tr>
                    <tr>
                        <td>영화6</td>
                    </tr>
                    <tr>
                        <td>영화7</td>
                    </tr>
                    <tr>
                        <td>영화8</td>
                    </tr>
                    <tr>
                        <td>영화9</td>
                    </tr>
                    <tr>
                        <td>영화10</td>
                    </tr>
                    <tr>
                        <td>영화11</td>
                    </tr>
                    <tr>
                        <td>영화12</td>
                    </tr>
                    <tr>
                        <td>영화13</td>
                    </tr>
                </table>
            </div>

            <div class="col-xs-4 table-responsive" style="overflow: hidden;">
                <table id="movie-calendar" class="table" style="height: 400px;">
                    <tr>
                        <td class="no-border">여기에 달력을 넣는다.</td>
                    </tr>
                </table>
            </div>

            <div class="col-xs-4 table-responsive">
                <table id="movie-time" class="table table-bordered table-hover">
                    <tr>
                        <td><strong>09:30</strong> 인디스페이스</td>
                    </tr>
                    <tr>
                        <td><strong>15:30</strong> 인디플러스</td>
                    </tr>
                </table>
            </div>

        </div>
</div>

<script>
    $( document ).ready(function() {
       $(".table-bordered > tr > td").click(function(){
          $(this).addClass('success');
       });
    });
</script>